<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="../tests/bootstrap.php"
         cacheResultFile=".phpunit.result.cache"
         executionOrder="random"
         forceCoversAnnotation="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutCoversAnnotation="true"
         verbose="true">
    <testsuites>
        <testsuite name="all">
            <directory>../tests</directory>
        </testsuite>
        <testsuite name="http">
            <directory>../tests/Tasks/Http</directory>
        </testsuite>
        <testsuite name="types">
            <directory>../tests/Tasks/Types</directory>
        </testsuite>
        <testsuite name="html">
            <directory>../tests/Tasks/Html</directory>
        </testsuite>
        <testsuite name="array">
            <directory>../tests/Tasks/Array</directory>
        </testsuite>
        <testsuite name="date">
            <directory>../tests/Tasks/Date</directory>
        </testsuite>
        <testsuite name="integer">
            <directory>../tests/Tasks/Integer</directory>
        </testsuite>
        <testsuite name="bool">
            <directory>../tests/Tasks/Bool</directory>
        </testsuite>
        <testsuite name="templates">
            <directory>../tests/Tasks/Templates</directory>
        </testsuite>
    </testsuites>
</phpunit>
